<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzzl.lemall.mapper.CtegoryMapper">
    <resultMap id="BaseResultMap" type="com.zzzl.lemall.domain.Ctegory">
        <id column="category_id" jdbcType="INTEGER" property="categoryId"/>
        <result column="category_name" jdbcType="VARCHAR" property="categoryName"/>
        <result column="super_id" jdbcType="INTEGER" property="superId"/>
        <result column="good_id" jdbcType="INTEGER" property="goodId"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    category_id, category_name, super_id, good_id
  </sql>
    <select id="selectByExample" parameterType="com.zzzl.lemall.domain.CtegoryExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from category
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from category
        where category_id = #{categoryId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from category
    where category_id = #{categoryId,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.zzzl.lemall.domain.CtegoryExample">
        delete from category
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.zzzl.lemall.domain.Ctegory">
    insert into category (category_id, category_name, super_id, 
      good_id)
    values (#{categoryId,jdbcType=INTEGER}, #{categoryName,jdbcType=VARCHAR}, #{superId,jdbcType=INTEGER}, 
      #{goodId,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.zzzl.lemall.domain.Ctegory">
        insert into category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="categoryId != null">
                category_id,
            </if>
            <if test="categoryName != null">
                category_name,
            </if>
            <if test="superId != null">
                super_id,
            </if>
            <if test="goodId != null">
                good_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="categoryId != null">
                #{categoryId,jdbcType=INTEGER},
            </if>
            <if test="categoryName != null">
                #{categoryName,jdbcType=VARCHAR},
            </if>
            <if test="superId != null">
                #{superId,jdbcType=INTEGER},
            </if>
            <if test="goodId != null">
                #{goodId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.zzzl.lemall.domain.CtegoryExample" resultType="java.lang.Long">
        select count(*) from category
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map">
        update category
        <set>
            <if test="record.categoryId != null">
                category_id = #{record.categoryId,jdbcType=INTEGER},
            </if>
            <if test="record.categoryName != null">
                category_name = #{record.categoryName,jdbcType=VARCHAR},
            </if>
            <if test="record.superId != null">
                super_id = #{record.superId,jdbcType=INTEGER},
            </if>
            <if test="record.goodId != null">
                good_id = #{record.goodId,jdbcType=INTEGER},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update category
        set category_id = #{record.categoryId,jdbcType=INTEGER},
        category_name = #{record.categoryName,jdbcType=VARCHAR},
        super_id = #{record.superId,jdbcType=INTEGER},
        good_id = #{record.goodId,jdbcType=INTEGER}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.zzzl.lemall.domain.Ctegory">
        update category
        <set>
            <if test="categoryName != null">
                category_name = #{categoryName,jdbcType=VARCHAR},
            </if>
            <if test="superId != null">
                super_id = #{superId,jdbcType=INTEGER},
            </if>
            <if test="goodId != null">
                good_id = #{goodId,jdbcType=INTEGER},
            </if>
        </set>
        where category_id = #{categoryId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zzzl.lemall.domain.Ctegory">
    update category
    set category_name = #{categoryName,jdbcType=VARCHAR},
      super_id = #{superId,jdbcType=INTEGER},
      good_id = #{goodId,jdbcType=INTEGER}
    where category_id = #{categoryId,jdbcType=INTEGER}
  </update>


    <!--  自定义-->


    <resultMap id="map1" type="com.zzzl.lemall.domain.Ctegory">

        <result column="category_name" jdbcType="VARCHAR" property="categoryName"/>

        <collection property="categories" ofType="com.zzzl.lemall.domain.Ctegory">

            <result column="bname" jdbcType="VARCHAR" property="categoryName"/>
            <collection property="categories" ofType="com.zzzl.lemall.domain.Ctegory">

                <result column="cname" jdbcType="VARCHAR" property="categoryName"/>


            </collection>
        </collection>
    </resultMap>


    <select id="selectCtegory" resultMap="map1">
        SELECT a.category_id  id,a.category_name ,b.category_name  bname,c.category_name cname
        FROM category a
        left join category b
        on a.category_id=b.super_id
        left JOIN category c
        on  b.category_id=c.super_id
        WHERE a.super_id=-1
    </select>

</mapper>