<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzzl.lemall.mapper.DeliveryAddressMapper">
  <resultMap id="BaseResultMap" type="com.zzzl.lemall.domain.DeliveryAddress">
    <id column="delivery_id" jdbcType="INTEGER" property="deliveryId" />
    <result column="delivery_postcode" jdbcType="VARCHAR" property="deliveryPostcode" />
    <result column="delivery_phone" jdbcType="VARCHAR" property="deliveryPhone" />
    <result column="delivery_address" jdbcType="VARCHAR" property="deliveryAddress" />
    <result column="delivery_receiver" jdbcType="VARCHAR" property="deliveryReceiver" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="vendor_id" jdbcType="INTEGER" property="vendorId" />
    <result column="delivery_default" jdbcType="INTEGER" property="deliveryDefault" />
    <result column="province" jdbcType="VARCHAR" property="province"></result>
    <result column="city" jdbcType="VARCHAR" property="city"></result>
    <result column="districtt" jdbcType="VARCHAR" property="districtt"></result>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    delivery_id, delivery_postcode, delivery_phone, delivery_address, delivery_receiver,
    user_id, vendor_id, delivery_default,province,city,districtt
  </sql>
  <select id="selectByExample" parameterType="com.zzzl.lemall.domain.DeliveryAddressExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from delivery_address
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from delivery_address
    where delivery_id = #{deliveryId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from delivery_address
    where delivery_id = #{deliveryId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zzzl.lemall.domain.DeliveryAddressExample">
    delete from delivery_address
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzzl.lemall.domain.DeliveryAddress">
    insert into delivery_address (delivery_id, delivery_postcode, delivery_phone,
      delivery_address, delivery_receiver, user_id,
      vendor_id, delivery_default)
    values (#{deliveryId,jdbcType=INTEGER}, #{deliveryPostcode,jdbcType=VARCHAR}, #{deliveryPhone,jdbcType=VARCHAR},
      #{deliveryAddress,jdbcType=VARCHAR}, #{deliveryReceiver,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER},
      #{vendorId,jdbcType=INTEGER}, #{deliveryDefault,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zzzl.lemall.domain.DeliveryAddress">
    insert into delivery_address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="deliveryId != null">
        delivery_id,
      </if>
      <if test="deliveryPostcode != null">
        delivery_postcode,
      </if>
      <if test="deliveryPhone != null">
        delivery_phone,
      </if>
      <if test="deliveryAddress != null">
        delivery_address,
      </if>
      <if test="deliveryReceiver != null">
        delivery_receiver,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="vendorId != null">
        vendor_id,
      </if>
      <if test="deliveryDefault != null">
        delivery_default,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="deliveryId != null">
        #{deliveryId,jdbcType=INTEGER},
      </if>
      <if test="deliveryPostcode != null">
        #{deliveryPostcode,jdbcType=VARCHAR},
      </if>
      <if test="deliveryPhone != null">
        #{deliveryPhone,jdbcType=VARCHAR},
      </if>
      <if test="deliveryAddress != null">
        #{deliveryAddress,jdbcType=VARCHAR},
      </if>
      <if test="deliveryReceiver != null">
        #{deliveryReceiver,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="vendorId != null">
        #{vendorId,jdbcType=INTEGER},
      </if>
      <if test="deliveryDefault != null">
        #{deliveryDefault,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <select id="countByExample" parameterType="com.zzzl.lemall.domain.DeliveryAddressExample" resultType="java.lang.Long">
    select count(*) from delivery_address
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update delivery_address
    <set>
      <if test="record.deliveryId != null">
        delivery_id = #{record.deliveryId,jdbcType=INTEGER},
      </if>
      <if test="record.deliveryPostcode != null">
        delivery_postcode = #{record.deliveryPostcode,jdbcType=VARCHAR},
      </if>
      <if test="record.deliveryPhone != null">
        delivery_phone = #{record.deliveryPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.deliveryAddress != null">
        delivery_address = #{record.deliveryAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.deliveryReceiver != null">
        delivery_receiver = #{record.deliveryReceiver,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.vendorId != null">
        vendor_id = #{record.vendorId,jdbcType=INTEGER},
      </if>
      <if test="record.deliveryDefault != null">
        delivery_default = #{record.deliveryDefault,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update delivery_address
    set delivery_id = #{record.deliveryId,jdbcType=INTEGER},
      delivery_postcode = #{record.deliveryPostcode,jdbcType=VARCHAR},
      delivery_phone = #{record.deliveryPhone,jdbcType=VARCHAR},
      delivery_address = #{record.deliveryAddress,jdbcType=VARCHAR},
      delivery_receiver = #{record.deliveryReceiver,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=INTEGER},
      vendor_id = #{record.vendorId,jdbcType=INTEGER},
      delivery_default = #{record.deliveryDefault,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzzl.lemall.domain.DeliveryAddress">
    update delivery_address
    <set>
      <if test="deliveryPostcode != null">
        delivery_postcode = #{deliveryPostcode,jdbcType=VARCHAR},
      </if>
      <if test="deliveryPhone != null">
        delivery_phone = #{deliveryPhone,jdbcType=VARCHAR},
      </if>
      <if test="deliveryAddress != null">
        delivery_address = #{deliveryAddress,jdbcType=VARCHAR},
      </if>
      <if test="deliveryReceiver != null">
        delivery_receiver = #{deliveryReceiver,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="vendorId != null">
        vendor_id = #{vendorId,jdbcType=INTEGER},
      </if>
      <if test="deliveryDefault != null">
        delivery_default = #{deliveryDefault,jdbcType=INTEGER},
      </if>
    </set>
    where delivery_id = #{deliveryId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzzl.lemall.domain.DeliveryAddress">
    update delivery_address
    set delivery_postcode = #{deliveryPostcode,jdbcType=VARCHAR},
      delivery_phone = #{deliveryPhone,jdbcType=VARCHAR},
      delivery_address = #{deliveryAddress,jdbcType=VARCHAR},
      delivery_receiver = #{deliveryReceiver,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      vendor_id = #{vendorId,jdbcType=INTEGER},
      delivery_default = #{deliveryDefault,jdbcType=INTEGER}
    where delivery_id = #{deliveryId,jdbcType=INTEGER}
  </update>



  <!--  自定义-->
  <resultMap id="map1" type="com.zzzl.lemall.domain.DeliveryAddress">
    <id column="delivery_id" jdbcType="INTEGER" property="deliveryId" />
    <result column="delivery_postcode" jdbcType="VARCHAR" property="deliveryPostcode" />
    <result column="delivery_phone" jdbcType="VARCHAR" property="deliveryPhone" />
    <result column="delivery_address" jdbcType="VARCHAR" property="deliveryAddress" />
    <result column="delivery_receiver" jdbcType="VARCHAR" property="deliveryReceiver" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="vendor_id" jdbcType="INTEGER" property="vendorId" />
    <result column="delivery_default" jdbcType="INTEGER" property="deliveryDefault" />
    <result column="province" property="province"/>
    <result column="city" property="city"/>
    <result column="districtt" property="districtt"/>
  </resultMap>


  <select id="selectDeliveryAddressByUserId"  resultMap="map1">
       SELECT *
       FROM   delivery_address
       WHERE user_id=#{id}
  </select>



  <insert id="addAddress">
    INSERT INTO delivery_address(delivery_receiver,delivery_phone,province,city,districtt,delivery_address,user_id,delivery_default)
    VALUES (#{deliveryReceiver},#{deliveryPhone},#{province},#{city},#{districtt},#{deliveryAddress},#{userId},#{deliveryDefault})
  </insert>


  <update id="DelAddress">
        update delivery_address
        set user_id=0
        where delivery_id=#{id}
  </update>

  <update id="updateAddress" parameterType="DeliveryAddress">
    update delivery_address
    <set>
      <if test="deliveryId != null">
        delivery_id=#{deliveryId},
      </if>
      <if test="deliveryPostcode !=null">
        delivery_postcode =#{deliveryPostcode},
      </if>
      <if test="deliveryPhone!=null">
        delivery_phone=#{deliveryPhone},
      </if>
      <if test="deliveryAddress!=null">
        delivery_address=#{deliveryAddress},
      </if>
      <if test="deliveryReceiver!=null">
        delivery_receiver=#{deliveryReceiver},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="vendorId != null">
        vendor_id = #{vendorId,jdbcType=INTEGER},
      </if>
      <if test="deliveryDefault != null">
        delivery_default = #{deliveryDefault,jdbcType=INTEGER},
      </if>

    </set>
    where delivery_id=#{deliveryId};
  </update>

  <select id="selectDefaultAddressByUserId" resultMap="BaseResultMap">
    select * from delivery_address where user_id = #{userId} and delivery_default=1;
  </select>


</mapper>