<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzzl.lemall.mapper.TraceMapper">
  <resultMap id="BaseResultMap" type="com.zzzl.lemall.domain.Trace">
    <id column="trace_id" jdbcType="INTEGER" property="traceId" />
    <result column="trace_date" jdbcType="TIMESTAMP" property="traceDate" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="good_id" jdbcType="INTEGER" property="goodId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    trace_id, trace_date, user_id, good_id
  </sql>
  <select id="selectByExample" parameterType="com.zzzl.lemall.domain.TraceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from trace
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from trace
    where trace_id = #{traceId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from trace
    where trace_id = #{traceId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zzzl.lemall.domain.TraceExample">
    delete from trace
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zzzl.lemall.domain.Trace">
    insert into trace (trace_id, trace_date, user_id, 
      good_id)
    values (#{traceId,jdbcType=INTEGER}, #{traceDate,jdbcType=TIMESTAMP}, #{userId,jdbcType=INTEGER}, 
      #{goodId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zzzl.lemall.domain.Trace">
    insert into trace
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="traceId != null">
        trace_id,
      </if>
      <if test="traceDate != null">
        trace_date,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="goodId != null">
        good_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="traceId != null">
        #{traceId,jdbcType=INTEGER},
      </if>
      <if test="traceDate != null">
        #{traceDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="goodId != null">
        #{goodId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zzzl.lemall.domain.TraceExample" resultType="java.lang.Long">
    select count(*) from trace
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update trace
    <set>
      <if test="record.traceId != null">
        trace_id = #{record.traceId,jdbcType=INTEGER},
      </if>
      <if test="record.traceDate != null">
        trace_date = #{record.traceDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.goodId != null">
        good_id = #{record.goodId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update trace
    set trace_id = #{record.traceId,jdbcType=INTEGER},
      trace_date = #{record.traceDate,jdbcType=TIMESTAMP},
      user_id = #{record.userId,jdbcType=INTEGER},
      good_id = #{record.goodId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzzl.lemall.domain.Trace">
    update trace
    <set>
      <if test="traceDate != null">
        trace_date = #{traceDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="goodId != null">
        good_id = #{goodId,jdbcType=INTEGER},
      </if>
    </set>
    where trace_id = #{traceId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzzl.lemall.domain.Trace">
    update trace
    set trace_date = #{traceDate,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=INTEGER},
      good_id = #{goodId,jdbcType=INTEGER}
    where trace_id = #{traceId,jdbcType=INTEGER}
  </update>
</mapper>